Repository skarab42/ts-pojo-error: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --ignore-path .gitignore, prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "**/*.{js,ts}": ["eslint --fix --max-warnings=0 --ignore-path .gitignore"],
  "**/*.{json,md,html,css}": ["prettier --write --ignore-path .gitignore"]
}

feat: remove useless types array
  src/index.ts
  test/index.test.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

feat: add throw helper
  src/index.ts
  test/index.test.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

feat: add error stack trace to toObject output
  src/index.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

test: toObject stack trace output
  test/__snapshots__/index.test.ts.snap
  test/index.test.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

test: use toMatchSnapshot everywhere
  test/__snapshots__/index.test.ts.snap
  test/index.test.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

docs: add more examples
  README.md
  images/ts-pojo-error.gif
  package.json
Due: prettier --write --ignore-path .gitignore

fix: unwrap PojoObject type
  src/index.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

build: add semantic-release
  .github/.codecov.yml
  .github/workflows/CI.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .gitignore

Notes added by 'git notes add'
  57c069b35c50db409393133617d336e4c9f90971
Due: none

feat: exports all types
  src/index.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

Notes added by 'git notes add'
  44a66f6cb2b14dc5426af12d3628da6f855ded63
Due: none

feat: add has(error) helper
  src/index.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

test: has(error) helper
  test/fixtures.ts
  test/index.test.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

docs: has(error) helper
  README.md
Due: prettier --write --ignore-path .gitignore

Notes added by 'git notes add'
  e720c168b5034a0249a8fbb16b6e51ecc2e13287
Due: none

feat: clean stack on V8 engine
  package.json
  pnpm-lock.yaml
  src/index.ts
  tsconfig.json
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore, prettier --write --ignore-path .gitignore

Notes added by 'git notes add'
  db3223774b7122d16715f88e34a9c2a30b8ac529
Due: none

chore: add funding links
  .github/FUNDING.yml
Due: none

feat: add support for tc39/proposal-error-cause
  src/index.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

test: support for tc39/proposal-error-cause
  test/index.test.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

feat: cause to object method
  src/index.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

fix: PojoError constructor name
  src/index.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

test: cause to object method
  test/__snapshots__/index.test.ts.snap
  test/index.test.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

fix: newFromError constructorOpt
  src/index.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

docs: Stacking of errors
  README.md
Due: prettier --write --ignore-path .gitignore

fix: throw helpers return type (never)
  src/index.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore

fix: build target
  src/index.ts
  tsconfig.json
  tsup.config.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore, prettier --write --ignore-path .gitignore

build: update typescript test version
  .github/workflows/CI.yaml
Due: none

Notes added by 'git notes add'
  444d072471eaeb17b30e70f7e39dd41d3194d920
Due: none

docs: small typo + emoji
  README.md
Due: prettier --write --ignore-path .gitignore

test: test native Error as cause
  test/__snapshots__/index.test.ts.snap
  test/index.test.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore
